.titolo {
	font-size: 100px;
	color: black;
	font-family: 'Anton', sans-serif;
	text-align: center;
	font-size: 7em;
    transition: 0.5s;
	}
	
.titolo:hover {
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
          0 3px 0 #ccc, 0 4px 0 #ccc,
          0 5px 0 #ccc, 0 6px 0 #ccc,
          0 7px 0 #ccc, 0 8px 0 #ccc,
          0 9px 0 #ccc, 0 10px 0 #ccc,
          0 11px 0 #ccc, 0 12px 0 #ccc,
          0 20px 30px rgba(0, 0, 0, 0.5);
       }

.titolo2 {font-size: 50px; color: black; font-family: 'Anton', sans-serif; text-align: center;}

.titolo3 {font-size: 30px; color: black; font-family: 'Anton', sans-serif; text-align: center;}
